@media (max-width:1028px){

    #main{
        display: block;
        margin: 1rem 0;

    }
    aside{
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
    }
    main{
        width: 94%;
        margin: 0 auto;
    }
    .container {
        display: flex;
        background: rgb(199, 194, 194);
        justify-content: center;
        padding: 2rem 0;
        align-items: center;

    }

    .container img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 2px 5px 5px 0px rgb(0, 0, 0, 0.75);
    }

    .container article{
        padding-left: 5rem;
    }

    #work,
    #education{
        padding: 4rem 3rem 3rem 3rem;
    }
}

@media screen and (max-width:768px){
    .container{
        display: block;
        padding: 0;
    }
    .container img{
        border-radius: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    #personal-info {
        padding-left: 0;
    }

    .uni-img-container{
        width: 100%;
        background: white;
        text-align: center !important;
    }
    .school div img{
        width: 65%;
    }
    
}