@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,600i,700,700i,800,800i&display=swap');

/*
*Set border-sizing
*/

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/*
*Reset whitespace
*/

* {
    padding: 0;
    margin: 0;
}


body{
    font: 16px/1.5 Poppins, sans-serif;
    background-size: content;
    background-image: linear-gradient(to right, #ff9671, #faab7d, #f6bd8e, #f3cfa4, #f1debd);
    padding: 3.5rem 4rem;
}
.page-box{
    width: 80%;
    background: #FFFFFF;
    margin: 0 auto;
    border-radius: 15px;
    padding: 3rem;
    display: flex;
}

/* .wrapper{
    width: 50%;
    display: flex;
} */


.image{
    width: 50%;
    padding-left: 2rem;
    padding-top: 2rem;
    margin: 0  auto;
}

img{
    width: 80%;
    padding: 1rem;
}

.login{
    width: 40%;
    margin: 0 auto;
}

h1{
    font-weight: 100;
    padding: 2rem;
}

.login p{
    padding: 0.5rem;
}
form p::before{
    display: block;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    z-index: 200;
    font-weight: 900;
    color: gray;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.email::before{
    content: '\f0e0';
} 

.password::before{
    content: '\f023'
}

.login p input{
    padding: 0.8rem 3rem;
    border-radius: 20px;
    border: none;
    background: #E6E6E6;
}
.checkbox{
    padding: 1rem 0 1rem 0;
}
li{
    list-style: none;
}
.checkbox li{
    color: #AAAAAA;
    padding: 0 0 1rem 2rem;
}

button{
    background: #8E6B52;
    color: white;
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 20px; 
	cursor: pointer;
}

.forgot{
    display: flex;
    padding: 0.5rem 0 2rem 0;
    padding-right: 1rem;
    text-align: center;
    margin: 0 auto; 
    padding-left: 3rem;
}

.forgot li{
    padding: 0 0.2rem;
    font-family: serif;
    font-size: small;
    justify-content: center;
}
span{
    color: #AAAAAA;
}

.footer{
    display: flex;
    font-family: initial;
    color: #AAAAAA;
    text-align: center;
    margin: 0 auto;
    padding-left: 3rem;
}

body > div > section.login > ul.footer > li:nth-child(1){
    padding:  0 1rem;
}

body > div > section.login > ul.footer > li:nth-child(1)::after{
    content: '';
    padding: 0.5px;
    width: 100%;
    background: #AAAAAA;
    display: block; 
}

