@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');

/*
*Set border-sizing
*/

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/*
*Reset whitespace
*/

* {
    padding: 0;
    margin: 0;
}


body{
    font: 16px/1.5 Open Sans, sans-serif;
    background-size: content;
}
li{
    list-style: none;
}

header nav ul{
    display: flex;
    width: 25%;
    margin: 0 auto;
    padding: 1rem;
}

header nav ul li{
    list-style: none;
    margin: 0 auto;

}

body > header > nav > ul > li> a {
    text-decoration: none;
    color: #F05F40;
}

.firstPart{
    background: url('./img/header.png') no-repeat center center;
    background-size: cover;
}

.firstPart h1{
    padding: 6rem 0 4rem 0;
    text-align: center;
    color: white;
}

.firstPart h1::after{
    /* content: '';
    padding: 1px;
    width: 3%;
    background: #F05F40;
    display: block;
    margin:  auto; */

    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 543px;
    left: 0;
    width: 3%;
    height: 3px;
    background-color: red;
}

.firstPart p{
    color: white;
    width: 40%;
    font-size: small;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 9rem;
}


.secondPart{
    background: #F05F40;
    color: white;
}

h3{
    text-align: center;
    padding: 2rem 0 3rem 0;
    font-weight: 500;
}

.secondPart p{
    color: white;
    width: 40%;
    font-size: small;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}
.secondPart h3::after{
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 250px;
    left: 0;
    width: 3%;
    height: 2px;
    background-color: white;
}


.btn{
    text-align: center;
    padding-bottom: 2rem;
}

button{
    background: #F8F9FB;
    color: black;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 20px;
}

.thirdPart h3::after{
    /* content: '';
    display: block;
    padding: 1px;
    width: 3%;
    background: #F05F40;
    margin: auto; */
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: -30px;
    left: 0;
    width: 3%;
    height: 1px;
    background-color: red;
}

.table{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.table ul {
    margin: 0 auto;
    width: 20%
}

.table ul li{
    text-align: center;
    padding: 1rem 0;
}

.table ul li i {
    font-size: 3rem;
    color: #F05F40;
}

.table h4 {
    font-weight: 600;
}

body > main > section.thirdPart > div > ul > li:nth-child(3){
    color: #85838A;
    font-size: small;
    margin: 0 auto;
    text-align: center;
}

.fourthPart{
    text-align: center;
}

.fourthPart ul{
    margin:  0 auto;
    display: flex;
    width: 95%;

}

.fourthPart img{
    width: 90%;
    height: 100%;
    border-right: solid 3px #F05F40;
    border-left: solid 3px #F05F40;
}

.fourthPart:before,
.fourthPart:after{
    content: '';
    height: 3px;
    width: 100%;
    background: #F05F40;
    display: block;
    margin:  auto;
}

footer{
    text-align: center;
    color: black;
    font-size: small;
    padding: 1rem;
}
span{
    color: #F05F40
}