@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900,900i&display=swap');

/*
*Set border-sizing
*/

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/*
*Reset whitespace
*/

* {
    padding: 0;
    margin: 0;
}

body{
    font: 16px/1.5 Roboto, sans-serif;
}

header{
    background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url('../p04/images/image-bg.jpg') no-repeat;
    padding-bottom: 4rem;

}

header nav ul {
    display: flex;
    margin: 0 auto;
    width: 35%;
    justify-content: space-between;

}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem 1rem 1rem 0;
}

header h1{
    display: flex;
    justify-content: center;
    padding: 6rem 0 0 0;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 800;
    color: aliceblue
}

header h3{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-style: italic;
    font-size: 2rem;
    padding-bottom: 2rem;
}

header button{
    display: flex;
    justify-content: center;
    border: 2px solid #5BBAD0;
    background: #5BBAD0;
    color: aliceblue;
    padding: 0.5rem 0.5rem;
    margin: 0 auto;
    border-radius: 3px;
}
header{
}