body{
    padding: 2rem;
    margin: 0;
}

*{
    box-sizing: border-box;
}


.container {
    background: red;
    /* padding: 2rem; */
}
.container::after{
    display: block;
    content: '';
    background: #090;
    height: 0;
    clear: both;
}

.box {
    width: 33.3%;
    height: 300px;
        /* background: #000; */
    border: 4px solid black;

    margin-bottom: 1rem;
    float: left;

    /* overflow: hidden; */
}

article {
    background: firebrick;
}

