@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700,700i&display=swap');

 /*
*Set border-sizing
*/

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/*
*Reset whitespace
*/

* {
    padding: 0;
    margin: 0;
}


body{
    font: 16px/1.5 PT-Serif, serif;
    padding: 2rem;
    margin: 0 auto;
}

.page-box{
    width: 50%;
    display: flex;
    box-shadow: 1px 5px 25px 11px gray;
}

ul{
    list-style: none;
}

.image{
    display: block;
    overflow: hidden;
    background: no-repeat center center;
}

.img{
    transform: scale(1.2);
    width: 91%;
    height: 100%;
}


div{
margin: 0 auto;
width: 50%;
}

.container {
    background: url('../Web Fundamentals Retake Exam - 23 April 2019/image/image1.png'), no-repeat center center;
    padding: 1.5rem;
}

.container h2{
    padding: 1rem 0 0 0;
    text-align: center;
    border-bottom: 2px dotted #96C96D;
}

.container .first{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 3rem 0.5rem;
}

.container p .color{
    color: #96C96D;
}

.container .text {
    padding: 3rem 0 4rem 0;
}


.container section{
    width: 100%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #96C96D;

}

.container section ul{
    
    width: 33.3%;
}

.container section ul li{
    text-align: center;
    justify-content: space-between;
    border: 1px solid #96C96D;
}








/* background: linear-gradient(rgba(132, 106, 221, 0.8), rgba(132, 106, 221, 0.8)), url('../p03/img/bg-01.jpg') no-repeat center center; */
