fieldset{
    border: 2px solid rgb(68, 66, 66);
    padding: 1.5em 2em;
    margin-bottom: 2em;
}

fieldset p {
    padding-bottom: 1em;
}

fieldset p.submit{
    padding-top: 0.5em;
}
legend {
    padding: 1em;
    font-weight: bold;
    font-size: 1.2rem;
}

select,
input {
    display: block;
    border: 2px solid rgb(68, 66, 66);
    padding: 0.5em 1em;
    background: #FFF;
    border-radius: 0.3rem;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select{
    background: url('check-solid.svg') right center no-repear;
}

input[type="submit"]{
    width: auto;
    background: #369;
    color: #FFF;
    background-color: #258;
    cursor: pointer;
}