/*
*Set border-sizing
*/

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/*
*Reset whitespace
*/

* {
    padding: 0;
    margin: 0;
}


body{
    font: 16px/1.5 PT-Sent, sans-serif;
    background-size: content;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style: none;
    text-align: center;
    padding: 2rem;
}

.color{
    color: #008CBA;
}

header ul li{
}


.first-ul{
    padding:  2rem 0 1rem 12rem;
    font-size: x-large;
}

header ul:nth-child(2){
    width: 60%;
    justify-content: space-between;
    padding: 2rem 12rem 0rem 0rem;
}

.spec::after{
    display: block;
    content: '';
    width: 50px;
    height: 2px;
    background:  #1996A9;
}

/* main{
    background-image: url('./images/slide2.jpg');
    background-size: cover;
    background-repeat: no-repeat;

} */

.first-part{
    padding: 12rem;
    background-image: url('./images/slide2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.first-part ul{
    background: rgba(12, 12, 12, 0.3);
    color: white;
    padding: 1rem;
    width: 26%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.first-part button{
    background: #008CBA;
    color: white;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 15px;
}

.second-part{
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.second-part h3::after{
    display: block;
    content: '';
    padding: 1px;
    width: 8%;
    background: #008CBA;
    text-align: center;
    margin: 0 auto;
}

.second-part p{
    padding: 1rem;
}

.second-part button{
    background: #454545;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 15px;
}

.third-part{
    background: #EEF0F1;
    display: block;
}

.third-part h2{
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0 1rem 0;
}

.third-part h2::after{
    display: block;
    content: '';
    background: black;
    padding: 1.5px;
    width: 8%;
    margin: 0 auto;
}

.menu{
    display: flex;
    width: 85%;
    text-align: center;
    margin: 0 auto;
}


.menu ul{
    padding: 1rem;
    justify-content: space-between;
    display: table;
    list-style: none;
}
.menu li:nth-child(1){
    background: white;

}

.menu li:nth-child(2),
.menu li:nth-child(3),
.menu li:nth-child(4){
    background: white;
    padding: 1rem 1rem;

}

.menu button{
    background: #454545;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
}
img{
    width: 100%;
    height: auto;
}

.footer-first{
    text-align: center;
    margin: 0 auto;
    background: #393F43;
    color: white;
    padding: 1rem;
}

.footer-first h2::after{
    display: block;
    content: '';
    padding: 1px;
    width: 6%;
    background: white;
    text-align: center;
    margin: 0 auto;
}

.footer-first h2{
    padding: 1rem;
}

.footer-first ul{
    padding: 2rem;
}

.footer-first input{
    padding: 0.8rem;
    width: 40%;
    background: #545A5E;
    color: #757575;
    border-radius: 10px; 
    border:none;
    font-size: x-large;
}

.footer-first button{
    padding: 0.8rem 2.5rem;
    background: #6BBFFF;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: x-large;
}

.footer{
    display: flex;
    background: #2F3539;
    color: white;
}

.footer ul{
    
    text-align: center;
    margin:  0 auto;
    list-style: none;
    padding: 2rem;
}

.footer ul li{
    padding: 0.3rem 0;
}

.icons{
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
}

.down{
    background: #262B2F;
    color: white;
    text-align: center;
    padding: 1rem;
}
