
body {
    background: #369;
    color: #FFF;
}
a {
    color: #EEE;
}

.site-header {
    border-bottom: 4px solid #EEE;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.site-header a {
    text-decoration: none;
    color: #EEE;
}

.site-footer{
    text-decoration: none;
    border-top: 4px solid #EEE;
    padding-top: 1rem;
    margin-top: 2rem;
}

ul.gallery img {
    display: block;
    width: 100%;
    height: auto;
    border: 1rem solid #EEE;
    padding: 0.5rem;
}


/*
*Navigaion
*/

.site-header nav li:hover > a,
.site-header nav a:focus,
.site-header nav a:hover{
    /* border-color: #000; */
    background: #FFF;
    color: #000;
}