@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');


/*
*Reset CSS
*/

*{
    padding: 0;
    margin: 0;
}



/*
*Box sizing
*/

html{
    box-sizing:  border-box;
}
*, *:before, *::after{
    box-sizing: inherit;
}

/*
*Box sizing
*/


html {
    font: 16px/1.5 PT Sans, Helvetica, Vedana, sans-serif;
    /* font-size: 1.5vw; */
}

p {
    padding-bottom: 1em;
}

h1,
h2 {
    font-family: PT Serif, serif;
    line-clamp: 1.1;
    margin: 0 0 0.5em 0;
    padding: 0;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 1.2em;
}

.site-header nav{}
.site-header nav ul{}

.site-header nav li {
    display: inline-block;
    color: green
}

blockquote {
    padding-left: 2rem;
}

blockquote p:not(:last-child){
    font-style: italic;
}

blockquote:last-child{
    font-weight: bold;
    text-align: left;
}


blockquote p:first-child::before{
    display: inline;
    content: '"';
    font-size: 2rem;
    line-height: 1;
    padding-right: 1rem;
}


blockquote p:nth-last-child(2)::after{
    display: inline;
    content: '"';
    font-size: 2rem;
    line-height: 1;
    padding-right: 1rem;
}

