@import url('typography.css');

body{
    padding: 2rem;
    margin: 0;
}


.box{
    width: 30%;
    display: inline-block;
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    margin: 0 0 1rem 0;
}

.box .inner {
    border: 0.5rem solid red;
    padding: 1rem;
}


#box1{
}
#box2{
}
#box2{
}


p{
    border: 0.2rem solid black;
    padding: 1rem;
    display: none;
}

strong{
    border: 0.2rem solid red;
}