@import url('typography.css');

html{
    font: 16px/1.2 Helvetica, sans-serif
}
body{
    font-size: inherit;
}

html{
    box-sizing:  border-box;
}
*, *:before, *::after{
    box-sizing: inherit;
}


.site-header {
    border-bottom: 4px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}


blockquote {
    padding-left: 2rem;
}

blockquote p:not(:last-child){
    font-style: italic;
}

blockquote:last-child{
    font-weight: bold;
    text-align: left;
}

blockquote p:first-child::before{
    display: inline;
    content: '"';
    font-size: 2rem;
    line-height: 1;
    padding-left: 1rem;
}
blockquote p:nth-last-child(2)::after{
    display: inline;
    content: '"';
    font-size: 2rem;
    line-height: 1;
    padding-right: 1rem;
}
