*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboard {
    flex-grow: 1;
    display: flex;
}


.dash-main-nav {
    flex: 0 0 10rem;
    overflow: hidden;
}
.dash-main {
    background:whitesmoke;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dash-header{
    /* padding: 1rem; */
    display: flex;
    align-items: center;
}


.dash-content{
    flex-grow: 1;
    padding: 2rem;
    box-shadow: 0 0 0.5rm rgb(0, 0, 0, 0.5) inset
}

.dash-footer{
    /* padding: 1rem; */
    display: flex;
}

.dash-footer p {
}


/*
*Elements
*/

.credit,
.user-profile{
    margin-left: auto;
}

.credit {
    padding: 0.5em 1em;

}

.user-profile {
}

.user-profile a {
    display: flex;
    color: whitesmoke;
    text-decoration: none;
    align-items: center;
    padding: 0.5em 1em;
}

.user-profile a:hover{
    background: green;
}

.user-profile i {
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}