.menu {
    position: fixed;
}

.menu li {
    display: block;
    list-style: none autside;
}



menu a {
    display: block;
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.menu a.fas {
    font-family: inherit;
    font-weight: inherit;
}

.menu a.fas::before{
    font-family: "Font Awesone 5 Free";
    padding-right: 0.5rem;
}

