@import url('typography.css');
@import url('layout.css');
@import url('navigation.css');

body{

}

.menu a,
.dash-title {
    padding: 0.5rem 1rem;
    color: #FFF;
    text-decoration: none;
}

.dash-header,
.dash-footer{
    background: #444;
    color: #FFF;
    line-height: 1;
}
.dash-main-nav {
    background: #222;
    color: #FFF
}